
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Poppins:wght@300&display=swap');

:root {
    --color1: #7C3626;
    --color2: #F6F8FF;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

/* heading and logo */

h1, h2, h3 {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 5px;
}

h2 {
    background: var(--color1);
    color: var(--color2);
}

nav {
    display: flex;
    justify-content: space-between;
    line-height: 75px;
    padding: 0 5%;
    background-color: var(--color1); 
}

nav #logo {
    color: var(--color2);
    letter-spacing: 0.5px;
}

nav #menu {
    display: flex;
}

nav #menu .menu-items {
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
    transition: .4s;
}

nav #menu .menu-items:hover {
    background-color: var(--color2);
    
}

nav #menu a {
    color: var(--color2);
}

nav #menu .menu-items:hover a {
    color: var(--color1);
}

nav .menu-toggle {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .menu-toggle .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: var(--color2);
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav #menu {
    transform: translateX(0);
}

input:checked ~ nav .menu-toggle .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
    margin-top: 15px;
    right: 0;
}

input:checked ~ nav .menu-toggle .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .menu-toggle .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
    margin-top: 15px;
    right: 0;
}
/* About Us */

#about {
    width: 100%;
}

.about-container {
    width: 70%;
    margin: 0 auto;
}

/* Events */

#events .events-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.events-container div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* Footer */

footer {
    background-color: var(--color1);
}

footer .social-networks {
    display: flex;
    justify-content: space-evenly;
}

.social-networks i {
    font-size: 160%;
    margin: 10px;
    padding: 5%;
    color: var(--color2);
}

@media (max-width: 870px) {

    nav {
        padding: 0 2rem;
    }

    nav #menu .menu-items {
        padding: 0 10px;
    }
}
@media (max-width: 745px) {

    h2, h3 {
        text-align: center;
    }

    nav #logo{
        width: 745px;
        left: 0;
        padding-left: 2rem;
        position: fixed;
        background-color: var(--color1); 
    }

    nav #menu {
        display: grid;
        background-color: var(--color1); 
        position: fixed;
        top: 75px;
        left: 25%;
        width: 100%;
        z-index: 1;
        transition: .6s;
        transform: translateX(100%);
    }

    nav .menu-toggle {
        display: grid !important;
        position: fixed;
        right: 2rem;
        z-index: 1;
    }

    hr {
        height: 75px;
    }

    #events .events-container {
        flex-direction: column;
    }

    .events-container div{
        width: 80%;
        margin: auto;
    }

    .about-container {
        width: 95%;
        margin: 0 auto;
    }

    .about-container p{
        width: 80%;
        margin: 5px auto;
    }
}