
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Poppins:wght@300&display=swap');

:root {
    --color1: #7C3626;
    --color2: #F6F8FF;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

.odd {
    background-color: var(--color1);
    color: var(--color2);
}

.even {
    background-color: var(--color2);
    color: var(--color1);
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}