
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Orbitron&family=Poppins:wght@300&display=swap');

:root {
    --color1: #50453f;
    --color2: #F6F8FF;
    --color3: #7BAE7F;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

/* heading and logo */

h1, h2, h3 {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 5px;
}

h2 {
    background: url('../images/background-design.png') center;
    background-color: var(--color1);
    color: var(--color2);
    padding-left: 15%;
}

nav {
    display: flex;
    justify-content: space-between;
    line-height: 75px;
    padding: 0 5%;
    background-color: var(--color1); 
}

nav #logo {
    color: var(--color2);
    letter-spacing: 0.5px;
    padding: 0;
}

nav #menu {
    display: flex;
    gap: 1.5rem;
}

nav #menu .menu-items {
    cursor: pointer;
    height: 100%;
    transition: .4s;
}

nav #menu a {
    color: var(--color2);
    position: relative;
}

nav #menu a::after, .btn-contact a::after {
    content: "";
    position: absolute;
    background-color: var(--color3);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

nav #menu a:hover::after, .btn-contact a:hover::after {
    width: 100%;
}

nav .menu-toggle {
    display: none;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .menu-toggle .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: var(--color2);
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav #menu {
    transform: translateX(0);
}

input:checked ~ nav .menu-toggle .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
    margin-top: 15px;
    right: 0;
}

input:checked ~ nav .menu-toggle .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .menu-toggle .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
    margin-top: 15px;
    right: 0;
}

/* hero image and cover text*/

#hero-outer {
    height: calc(100vh - 75px);
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

#hero-image {
    height: calc(100vh - 75px);
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center;
    background-position-x: 10%;
    background-size: cover;

    /* animate zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 230px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: var(--color1);
    opacity: 0.8;
    bottom: 30px;
    right: 10vw;
    position: absolute;
}

#cover-text h2{
    background: var(--color1);
    padding: 0;
    text-align: center;
    color: var(--color3);
}

#cover-text h3{
    padding: 10px;
    text-align: justify;
    color: var(--color2);
}

/* About Us */

#about {
    width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container h3 {
    padding-left: 0;
    width: 100%;
}

/* Events */

#events .events-container {
    background-image: url('../images/mosque-gathering.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.events-container div {
    background-color: rgba(0, 0, 0, .6);
    color: var(--color2);
    width: 20%;
    height: 300px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* Contact us */


#contact .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-left {
    color: var(--color1);
    width: 40%;
    background: url('../images/chat-image.png') no-repeat center center;
    flex-grow: 1;
}

.contact-right {
    width: 40%;
    flex-grow: 1;
}

.contact-right li {
    list-style: disc;
}

.btn-contact {
    padding: 20px;
    background-color: var(--color1);
    border-radius: 15px;
    color: var(--color2);
    margin: 20px auto;
    width: 25%;
    flex-shrink: 0;
    text-align: center;
}

.btn-contact a {
    position: relative;
    color: var(--color2);
}

/* Footer */

footer {
    background-color: var(--color1);
}

footer .social-networks {
    display: flex;
    justify-content: space-evenly;
}

.social-networks i {
    font-size: 160%;
    margin: 10px;
    padding: 5%;
    color: var(--color3);
}

/* Prayer Times Page */

.prayer-section {
    display: flex;
    gap: 1rem;
    width: 90%;
    margin: 1rem auto;
    flex-wrap: wrap;
    justify-content: center;
}

.prayer-day {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
    align-items: center;
    background: url('../images/prayer-time-bg.png') no-repeat center center;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 0;
    min-width: 250px;
}

.prayer-day h3 {
    margin-top: 4.25rem;
}

.prayer-times {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color1);
    color: var(--color2);
    padding: 0 .75rem;
    border-radius: 15px;
    opacity: .8;
}

.prayer-times span {
    width: 70px;
}

.prayer-times span:nth-child(2) {
    width: 50px;
    text-align: center;
}

.prayer-times span:nth-child(3) {
    text-align: center;
    color: var(--color3);
}
@media (max-width: 780px) {

    h2, h3 {
        text-align: center;
        padding: 0;
    }

    nav #logo{
        width: 745px;
        left: 0;
        padding-left: 2rem;
        position: fixed;
        background-color: var(--color1); 
    }

    nav #menu {
        flex-direction: column;
        background-color: var(--color1); 
        position: fixed;
        top: 75px;
        left: 25%;
        width: 100%;
        height: calc(100vh - 75px);
        z-index: 1;
        transition: .6s;
        transform: translateX(100%);
    }

    nav #menu .menu-items {
        line-height: 30px;
        height: 30px;
        padding: 0 10px;
    }

    nav .menu-toggle {
        display: grid !important;
        position: fixed;
        right: 2rem;
        z-index: 1;
    }

    hr {
        height: 75px;
    }

    #hero-outer {
        height: 300px;
    }

    #hero-image {
        height: 300px;
        background-position-x: 25%;
        position: absolute;
        z-index: -1;
    }

    #events .events-container {
        flex-direction: column;
        background: var(--color2);
    }

    .events-container div{
        width: 300px;
        margin: auto;
        background: url('../images/small-events-bg.jpg') no-repeat center center;
        border-radius: 20px;
        padding: 75px;
        color: var(--color1);
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .container p{
        width: 80%;
        margin: 5px auto;
    }

    section h2{
        padding-left: 0;
    }

    .contact-left {
        width: 50%;
    }
    
    .contact-right {
        width: 45%;
        margin-left: 5%;
    }

    .prayer-day {
        width: 47%;
    }

}

@media (max-width: 400px) {
    #cover-text {
        width: 250px;
        right: calc(50% - 125px);
        padding: 0;
    }

    .prayer-day {
        width: 100%;
    }
}

/* create the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}